/* 헤더 */
header { margin:0 auto; padding: 32px 0 0; width: 1280px;}
header h1 { float: left; padding: 13px 0 0;}
header h1 a { display: block; padding: 0 0 0 365px; width: 100px; height: 18px; background: url(../images/logo.png) no-repeat;}
header .search { position: relative; display: inline-block;}
header .search_box input { width: 350px; height: 44px; border-radius: 44px; background: #F2F2F2; text-indent: 48px;}
header .search_box input::placeholder { font-size: 16px; color:#999;}
header .search_box button { position: absolute; top:13px; left:14px; width: 18px; height: 18px; background: url(../images/ico_search.png) no-repeat left;}
header .menu { float: right;}
header .menu li { float: left; padding: 0 0 0 35px;}
header .menu li a { display: block; width: 25px; height: 30px; background: no-repeat center;}
header .menu .btn_mypage { background-image: url(../images/ico_mypage.png);}
header .menu .btn_basket { background-image: url(../images/ico_basket.png);}
header .menu .btn_login { background-image: url(../images/ico_login.png);}
header .header_line { margin: 32px 0 0; border: 1px solid #dbdbdb;}
header .gnb { text-align: center;}
header .gnb li { display: inline-block; padding:0 30px 0;}
header .gnb li a { display: block; font-size: 16px; color: #405585; line-height: 62px; }
header .gnb li a:hover { font-weight: bold;}

/* 비주얼 */
.sectin_visual div { margin:0 auto; width: 1280px;}

/* 베스트 아이템 */
.section_best .tit { margin:0 auto; padding: 120px 0; width: 1280px; text-align: center;}
.section_item { margin:0 auto; width: 1280px}
.section_item li { float: left;}
.section_item li a { display: block; position: relative; padding: 50px 0 0 42px; width: 426px; height: 220px; font-size: 18px; letter-spacing: -0.25px; box-sizing: border-box;}
.section_item li b { display: block;}
.section_item li div { position: absolute; bottom:50px; left:42px; width: 48px; height: 48px; border-radius: 100%; background: url(../images/bu_arrow_right.png) no-repeat center rgba(237,237,237,0.4);}
.section_item li span { position: absolute; top:23px; right:24px; width: 174px; height: 174px; border-radius: 100%; background: #fff;}
.section_item li p { position: absolute; width:200px; height:200px; top:0; right:0;}
.section_item li:nth-child(1) p{ background: url(../images/bg_item1.png) no-repeat center right 15px; }
.section_item li:nth-child(2) p{ background: url(../images/bg_item2.png) no-repeat center right 37px; }
.section_item li:nth-child(3) p{ background: url(../images/bg_item3.png) no-repeat center right 45px;}
.section_item li:nth-child(odd) a { background: #405585; color:#fff;}
.section_item li:nth-child(even) a { background: #C5C1C1; color:#111;}

/* 신상품 */
.section_new { margin:0 auto; width: 1280px; text-align: center; padding: 120px 0;}
.section_new .new_collect li { float: left; width: 426px; height: 426px; background: #405585; margin: 0 0 40px;}
.section_new .new_collect li a { overflow: hidden; display:block; position: relative; transition: all .3s;}
.section_new .new_coll_main { display: flex; flex-direction: column; justify-content: center; font-size: 18px; color:#fff;}
.section_new .new_coll_main strong { display: block; font-size: 36px; font-weight: 900; }
.section_new .new_collect span { position: absolute; bottom:42px; right:42px; width: 48px; height: 48px; border-radius: 100%; background: url(../images/bu_plus.png) no-repeat center rgba(237,237,237,0.4); }
.section_new .new_collect a:hover img{ transform:scale(1.1);}

.section_new .new_item li { float: left; text-align: left;}
.section_new .new_item li ~ li { padding:0 0 0 40px;}
.section_new .new_item li a { display: block; width: 224px; height: 224px;}
.section_new .new_item li p { padding: 16px 0 12px; font-size: 15px; color: #767676; letter-spacing: -0.25px;}

/* 이벤트 배너 */
.event_banner { margin:0 auto; width: 1280px;}

/* 스토리 */
.section_story { margin:172px 0 0; background: #F2F2F2; }
.section_story > div { position: relative; height:440px; margin: 0 auto; width: 1280px;}
.section_story h2 { position: absolute; top:-47px; right:0; font-size: 68px; font-weight: 900; color: #405585;}
.section_story .story_right { padding: 115px 0 0 650px; color: #111; text-align: right;}
.section_story .story_right p { font-size: 18px; color: #767676; letter-spacing: -0.25px;}
.section_story .story_right h3 { display: block; padding: 9px 0 17px; font-size: 36px;}
.section_story .story_right span { display: block; font-size: 15px; letter-spacing: -0.25px; line-height: 25px;}
.section_story .story_right .story_img { position: absolute; top:115px; left:0;}
.section_story .story_right .story_img_rg li { float:left; padding: 80px 0 0 20px;}

.section_story .story_diary { padding: 83px 0 0;}
.section_story .story_diary h3 { position: relative; display: inline-block;  padding: 0 30px 0 0; font-size: 32px; color:#111; font-weight:normal; letter-spacing: -0.25px; line-height: 1;}
.section_story .story_diary span { padding:0 0 0 16px; font-size: 15px; font-weight: normal; vertical-align: 7px;}
.section_story .story_diary h3:after {content: ""; position: absolute; top:50%; left:238px; transform: translateY(-50%); width: 1px; height: 20px; background: #DBDBDB;}
.section_story .story_diary li { float: left; margin:32px 0 0; }
.section_story .story_diary li ~ li { padding:0 0 0 40px;}
.section_story .story_diary li p { padding: 24px 0 120px; font-size: 22px; letter-spacing: -0.25px; color: #111;}
.section_story .story_diary li:hover img { box-shadow: 0 3px 6px rgba(0,0,0,.4);}

/* 공지사항 안내 */
.section_news { margin: 0 auto; width: 1280px; text-align: center;}
.section_news li { float: left; width: 426px;}
.section_news li a { display: flex; flex-direction: column; justify-content: center; height: 220px; font-size: 18px; color: #111; background: #F2F2F2; }
.section_news li b { display: block; padding: 8px 0 10px; font-size: 23px; font-weight: bold;}
.section_news li span { font-size: 18px;}
.section_news li p {font-size: 16px;}
.section_news li:hover a { background: #D9E0EE; color: #fff;}
.section_news li:hover img { opacity: 0.8;}

/* 푸터 */
footer { margin: 140px 0 0; background: #EDEDED;}
footer > div { position: relative; margin: 0 auto; width: 1280px;}
footer .info { padding: 34px 0 34px 130px; background: url(../images/footer_logo.png) no-repeat left;}
footer .footer_nav { float: left;}
footer .footer_nav li { display: inline-block;}
footer .footer_nav li ~ li { padding: 0 0 0 30px;}
footer .footer_nav li a { display: block; font-size: 16px; color: #405585;}
footer .footer_sns { float: right;}
footer .footer_sns li { float: left; padding: 0 9px;}
footer .footer_sns a { display: block; width: 35px; height: 24px; background: no-repeat center;}
footer .footer_sns li:hover a { background: #405585;}
footer .footer_sns .ico1 { background-image: url(../images/ico_footer_youtube.png);}
footer .footer_sns .ico2 { background-image: url(../images/ico_footer_facebook.png);}
footer .footer_sns .ico3 { background-image: url(../images/ico_footer_instagram.png);}
footer .name p { padding: 6px 0 6px; font-size: 16px; color: #405585; }






/* 스타일 가이드 */
.tit h2 { padding: 0 0 8px; font-size: 28px; font-weight: bold; color: #405585; line-height: 34px;}
.section_line { position: absolute; width: 80px; height: 2px; background: #dbdbdb; left:50%; transform:translateX(-50%);}
.section_txt { padding: 16px 0 40px; font-size: 18px; color: #999; letter-spacing: -0.25px;}
